.multimedia-container {
  display: grid;
  justify-content: space-around;
  height: 100%;
  margin: 3rem;
  padding-bottom: 12vh;

  .content {
    width: 1000px;
    display: grid;
    justify-content: space-around;
    border-radius: 5px;
    background-color: var(--color-background);
  }

  hr {
    width: 100%;
  }

  .mid-content {
    display: flex;
    justify-content: inherit;
    align-items: center;
    padding-bottom: 45px;
  }

  #youtube-item {
    height: 530px;
    padding-top: 45px;
  }

  #pdf-item {
    margin: auto;
    iframe {
      border: none;
    }
  }
}